/* Stylesheet for the INFINITY GAMES web pages with a purple neon theme */

/* Styles for the body */
body {
  background-color: #2a0038; /* Dark purple background */
  color: #ffffff; /* White text */
} 

img {
  max-width: 100%;
}

/* Styles for mobile layout */

/* Styles for the container id */
#container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #2a0038; /* Dark purple background */
  color: #ffffff; /* White text */
}

header {
  margin-top: 0.1em;
  background-color: #2a0038; /* Dark purple background */
  text-align: center;
  color: #ff00ff; /* Neon pink text */
}

nav {
    background-color: #2a0038; /* Dark purple background */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
    margin-top: -1.5em;
    color: #ff00ff; /* Neon pink text */
  }
  
  /* Styles regarding ul inside nav */
  nav ul {
    padding: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  
  /* Styles for the li in the ul in the nav */
  nav li {
    background-color: #4e005f; /* Dark purple background with a neon tint */
    margin: 0.3em;
    padding: 0.4em;
    border-radius: 2em;
    list-style-type: none;
    color: #ff00ff; /* Neon pink text */
  }
  
  /* Styles for the anchor elements inside the li inside nav */
  nav li a {
    color: #ffffff; /* White text */
    text-decoration: none;
    color: #ff00ff; /* Neon pink text */
  }
  
  /* Styles to display mobile class */
  .mobile {
    display: inline;
  }
  
  /* Styles to hide the desktop class */
  .desktop {
    display: none;
  }
  
  main {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    margin-top: 0.5em;
    padding: 1em;
    background-color: #2a0038; /* Dark purple background */
    color: #ffffff; /* White text */
  }
  
  footer {
    font-size: .7em;
    text-align: center;
    margin-top: 2em;
    color: #ffffff; /* White text */
  }

  /* Styles for the links inside main */
main a {
  border-radius: 1em;
  color: #ffffff; /* White text */
  font-weight: bold;
  padding: 0.5em;
  background-color: #4e005f; /* Dark purple background with a neon tint */
  text-decoration: none;
}

/* Styles for the links in the footer */
footer a {
  color: #ffffff; /* White text */
  text-decoration: none;
}

/* Styles for the tablet class */
.tablet {
  display: none;
}

.equip {
  display: none;
}

/* Style for the aside element */
aside {
  font-style: italic;
}

/* Style for input, textarea, etc. */
input,
select,
textarea {
  display: block;
  margin-bottom: 1em;
  border-radius: 0.3em;
}

/* Style for the label */
label {
  display: block;
}

/* Style for the ul inside the form */
form ul {
  list-style-type: none;
}

.chkbx {
  display: inline-block;
}

.hero-section{
  align-items: center;
  display: flex;
  min-height: 90vh;
  justify-content: center;
}